{% extends 'base.html' %}

{% block title %} Liste des Produits {% endblock %}

{% block content %}
    <h1>Produits</h1>
    <a href="{% url 'product_create' %}">+ Nouveau produit</a>

    {% if page_obj.object_list %}

        <div class="cards container col-6 ">
            {% for product in page_obj %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">Prix : {{ product.price }} €</p>
                    <p class="card-text">Date de Péremption : {{ product.expiration_date }}</p>
                    <a href="{% url 'product_edit' product.id %}" class="btn btn-warning">Modifier</a>
                    <a href="{% url 'product_delete' product.id %}" class="btn btn-danger">Supprimer</a>
                </div>
            </div>
            {% endfor %}
        </div>

        {% if page_obj.paginator.num_pages > 1 %}
        <div class="container d-flex justify-center">
            {% if page_obj.has_previous %}
                <a href="?page=1" class="p-1">«</a>
                <a href="?page={{ page_obj.previous_page_number }}" class="p-1"><</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <p class="p-1">{{ num }}</p>
                {% else %}
                    <a href="?page={{ num }}" class="p-1">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="p-1">></a>
                <a href="?page={{ page_obj.paginator.num_pages }}" class="p-1">»</a>
            {% endif %}
        </div>
        {% endif %}  

    {% else %}
        <p>Aucun produit enregistré.</p>
    {% endif %}

{% endblock %}